@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	background-image: url('../images/bg-starwars.jpg');
	background-size: 2000px 1000px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	float: right;
	margin: 20px;
	text-shadow:
			-1px -1px 0 #FFFFFF,  
			1px -1px 0 #FFFFFF,
			-1px 1px 0 #FFFFFF,
			1px 1px 0 #FFFFFF;
	display: block;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	margin: 0 10px;
	text-shadow:
			-.5px -.5px 0 #FFFFFF,  
			.5px -.5px 0 #FFFFFF,
			-.5px .5px 0 #FFFFFF,
			.5px .5px 0 #FFFFFF;
	display: block;
}
h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-align: center;
	display: inline-block;
}
h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	margin-left: 10px;
}

img {
	width: 200px;
	height: 100px;
	margin: 0 10px;
}

p {
	font-family: 'Oswald', sans-serif;
	margin-left: 10px;
	color: #FFFFFF;
	text-shadow:
			-.5px -.5px 0 #000,  
			.5px -.5px 0 #000,
			-.5px .5px 0 #000,
			.5px .5px 0 #000;
	letter-spacing: .035em;
	word-spacing: 0.15em;
}
/* establishes character box aethetic */
.character {
	background-color: #FFFFFF;
	width: 220px;
	border: 4px solid #000;
	margin-left: 10px;
	display: inline-block;
}

button {
	background-color: #D9AF8B;
	margin: 10px;
}
/* sets background color for opponent */
.selectedOpponent {
	background: #e85d5d;
}
/* sets hero background color */
.selectedHero {
	background-color: #B8F4CC;
}

@media only screen and (max-width: 768px) {
	
	h1 {
		float: none;
		margin: 5px;
		font-size: 24px;
	}
	h2 {
		margin-left: 5px;
		font-size: 16px;
	}

	img {
		width: 100px;
		height: 50px;
	}

	.character {
		width: 120px;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	button {
		margin-left: 5px;
		display: inline;
	}
	p {
		margin-left: 5px;
		font-size: 16px;
	}
}